@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: Lato;
  background-color: #FFF9F6; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FF5C00;
  width: 100%; }
  nav.nav__logo {
    display: inline;
    text-align: right; }
  nav h1 {
    font-size: 2rem;
    display: inline; }
  nav.nav__logo {
    display: inline;
    text-align: left; }
  nav li {
    list-style-type: none;
    display: inline;
    padding: 0 .5rem;
    font-size: 1.1rem; }

.video {
  background-color: #1A1922;
  width: 100%; }

.banner__ad {
  background-color: #89867A;
  color: #FFF9F6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem; }

.banner__text {
  font-size: .85rem;
  font-weight: 100; }

.button {
  display: inline;
  width: 5.75rem;
  margin: .45rem auto;
  font-size: .85rem;
  font-weight: 100;
  border: none;
  border-radius: 20px;
  color: #FFF9F6;
  background-color: #FF5C00; }

.trip__grid {
  display: grid;
  grid-template-colums: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: trip__1 trip__2 trip__3 trip__4;
  grid-gap: 2rem 2rem;
  margin: 20px 0; }

.trip__thumb {
  background-color: #4ABD9D;
  width: 100px;
  height: 100px; }

trip__individual1 {
  grid-area: trip__1; }

trip__individual2 {
  grid-area: trip__2; }

trip__individual3 {
  grid-area: trip__3; }

trip__individual4 {
  grid-area: trip__4; }

.about {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about .about__img {
    background-color: #FF5C00;
    width: 50vw;
    height: 300px;
    padding: 20px;
    margin-right: 5px; }
  .about .about__text {
    background-color: #89867A;
    width: 50vw;
    height: 300px;
    padding: 20px; }
    .about .about__text h2 {
      text-align: center; }
