@import "var";

//header
header{
  max-height: 1.8rem;
  padding: 0px 20px;
  h1{
    font-size: 1.78rem;
    text-align: right;

  }

}



// about
.about{

display: flex;
flex-wrap: wrap;
width: 100%;
//height: 100vh;
background-color: $orange;


  .about__img{
    background-color: $orange;
    flex: 1 1 50%;
    //width: 50vw;
    height: 100%;
    //padding: 20px;
    //margin-right: 5px;


    & img{
      path: ('founder.jpg');
      width: 90vw;
    }
  }

  .about__text{
    background-color: $grey;
    //width: 50vw;
    height: 100%;
    //padding: 20px;
    flex: 1 1 50%;

    h2{
      text-align: center;
    }
  }

}
