@import "var";

.container{
  display: flex;
  flex-direction: column;
  > * {
  order: 9999;
   }
}


//header
header{
  max-height: 1.8rem;
  padding: 0px 20px;
  h1{
    font-size: 1.78rem;
    text-align: right;

  }

}



// about
.about{

display: flex;
flex-wrap: wrap;
width: 100%;
//height: 100vh;
background-color: $orange;


  .about__img{
    background-color: $orange;
    flex: 1 1 50%;
    //width: 50vw;
    height: 100%;
    //padding: 20px;
    //margin-right: 5px;
    padding: 15px 15px;



    & img{
      path: ('founder.jpg');
      width: 90vw;
    }
  }

  .about__text{
    background-color: $grey;
    //width: 50vw;
    height: 100%;
    //padding: 20px;
    flex: 1 1 50%;
    padding: 15px 15px;


    h2{
      text-align: center;
    }
  }

}


//////////// facts
.facts{

 padding: 15px 15px;
  h2{
    text-align: center;
  }

    ul{
      display: flex;
      flex-direction: column;

      li{
        padding: 15px 0;
        @include no-bullets;
      }
    }
}
//////////// testimonials

.testimonial{

padding: 15px 15px;
  h2{
    text-align: center;
  }

    ul{
      display: flex;
      flex-direction: column;

      li{
        padding: 15px 0;
        @include no-bullets;
      }
    }
}
