:root{
	font-size: 16px;
}

@import url(https://fonts.googleapis.com/css?family=Lato);

@import "index";
@import "about";
@import "blog";
@import "blog-single";
@import "tour";
@import "tour-single";
@import "contact";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
  font-family: Lato;
  background-color: $white;

}

nav{
  display: flex;
  align-items: center;
  background-color: $orange;
  width: 100%;

  &.nav__logo{
    display: inline;
    text-align: right;
  }

  h1{
    font-size: 2rem;
    display: inline;
  }

  &.nav__logo{
    display: inline;
    text-align: left;
  }

	ul{
		color: $black;

  	li{
    	display: inline;
    	//margin: ;
    	padding: 0 .5rem;
    	font-size: 1.1rem;

			a{
				@include no-bullets;
				@include no-underline;

			}

		}
  }

} //nav
