@import url(https://fonts.googleapis.com/css?family=Lato);

$black: #1A1922;
$orange: #FF5C00;
$white: #FFF9F6;
$blue: #4ABD9D;
$grey: #89867A;

@function path($src, $dir: img){
	$src: unquote($src);
	@return url(unquote("..")/$dir/$src);
}
// to insert img
// .logo {
// 		path('logo.png')left top no-repeat;
//	}

@import "blog";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
  font-family: Lato;
  background-color: $white;

}

nav{
  display: flex;
  align-items: center;
  background-color: $orange;
  width: 100%;

  &.nav__logo{
    display: inline;
    text-align: right;
  }

  h1{
    font-size: 2rem;
    display: inline;
  }

  &.nav__logo{
    display: inline;
    text-align: left;
  }

  li{
    list-style-type:none;
    display: inline;
    //margin: ;
    padding: 0 .5rem;
    font-size: 1.1rem;
  }

} //nav

//header?

.video{
  background-color: $black;
  width: 100%;

}

.banner__ad{
  background-color: $grey;
  color: $white;
  display: flex;
  padding: .5rem;

}

.banner__text{

  font-size: .85rem;
  font-weight: 100;

  }
 .button{
  display: inline;
  width: 5.75rem;
  margin: .45rem auto;
  //pading: 1.6rem;
  font-size: .85rem;
  font-weight: 100;
  border: none;
  border-radius: 20px;
  color: $white;
  background-color: $orange;
}

//header

//trips

.trip__grid{
  display: grid;
  grid-template-colums: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
   trip__1 trip__2
   trip__3 trip__4;
  grid-gap: 2rem 2rem;
  margin: 20px 0;
}

.trip__thumb{
  background-color: $blue;
  width:100px;
  height: 100px;
}

trip__individual1{
  grid-area: trip__1;
}
trip__individual2{
  grid-area: trip__2;

}
trip__individual3{
  grid-area: trip__3;

}
trip__individual4{
  grid-area: trip__4;

}
//trip

//about
.about{
margin:20px 0;
display:flex;


  .about__img{
    background-color: $orange;
    width: 50vw;
    height: 300px;
    padding: 20px;
    margin-right: 5px;
  }

  .about__text{
    background-color: $grey;
    width: 50vw;
    height: 300px;
    padding: 20px;

    h2{
      text-align: center;
    }
  }

}

//about
